#-------------------------------
# General Site Settings
title: Karine Ehn
description: Research Scientist| Cultural Dynamics | Mixed Methods.
url: "https://kargam0167.github.io/" # the base hostname & protocol for your site, e.g. http://example.com

#-------------------------------
# Author Settings
author:
  name: Karine Ehn
  bio: Research Scientist| Big & Small Data | Mixed Methods.
  avatar: '/images/02.jpg'

social:
  - icon: "ion-logo-twitter"
    label: Twitter
    link: "https://twitter.com/KarineEhn"
  - icon: "ion-logo-github"
    label: Github
    link: "https://www.github.com/kargam0167"
# Example of adding a new link to the author section and footer
# - icon: "ion-logo-GitHub"
#   label: Github
#   link: "https://www.researchgate.net/profile/Karine-Ehn"
# Other icons can be found at https://ionicons.com/v4/

#-------------------------------
# Hero Settings
hero:
  hero__title: Hey, I’m Karine!
  hero__description: Research Scientist| Cultural Dynamics | Big & Small Data | Mixed Methods. Check out my portfolio below ⬇
  hero__image: 'images/02.jpg'
#-------------------------------
# Contact Settings
contact:
  email: karine.ehn@gmail.com # Add your email for the contact form
  description: Drop me a line. # Add a description of your form

# Note: Joseph comes with a built-in contact form, which you can use with Formspree service to handle up to 50 monthly submissions for free. You could also easily switch to another contact form service if you want.

#-------------------------------
# Google Analytics
google-analytics: # Add your identifier. For example, UA-99631805-1.

#-------------------------------
# Build Settings
markdown: kramdown
permalink: /:title
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll/tagging

paginate: 5
paginate_path: "/page/:num"

# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

include:
  - _pages

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  /:title

sass:
  sass_dir: _sass
  style: compressed
